<div class="spinner-container">
    <p-progressSpinner *ngIf="isLoading" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                       strokeWidth="4" fill="#EEEEEE" animationDuration="1.s"></p-progressSpinner>
</div>
<div class="grid">
    <div class = "col-6">
        <br>
        <br>
        <p-panel header="Dữ liệu thời tiết" *ngIf="weatherData">
            <div class="grid col-12 spacing-inline">
                <div class="col-3">Nhiệt độ: </div>
                <div class="col-3"><label>{{this.weatherData[this.weatherData.length - 1].temperature}}<sup>o</sup>C</label></div>
                <div class = "col-3">Lượng mưa:</div>
                <div class = "col-3">{{this.weatherData[this.weatherData.length - 1].rainFall}} mm/h</div>

                </div>
            <div class="grid col-12 spacing-inline">
                <div class="col-3">Độ ẩm: </div>
                <div class="col-3">{{this.weatherData[this.weatherData.length - 1].relativeHumidity}} %</div>
                <div class = "col-3">Tốc độ gió:</div>
                <div class = "col-3">{{this.weatherData[this.weatherData.length - 1].windSpeed}} M/s</div>
            </div>
            <div class="grid col-12  spacing-inline">
                <div class = "col-3">Bức xạ:</div>
                <div class = "col-4">{{this.weatherData[this.weatherData.length - 1].radiation}} MJ/m2/hour</div>
            </div>
        </p-panel>
    </div>
    <div class="col-6">
        <p-chart #chartTem type="line" [data]="chartTemData" [options]="ordersOptions"></p-chart>
    </div>
    <div class="col-6">
        <p-chart #chartHum type="line" [data]="chartHumData" [options]="ordersOptions"></p-chart>
    </div>
    <div class="col-6">
        <p-chart #chartRad type="line" [data]="chartRadData" [options]="ordersOptions"></p-chart>
    </div>
    <div class="col-6">
        <p-chart #chartRain type="line" [data]="chartRainData" [options]="ordersOptions"></p-chart>
    </div>
    <div class="col-6">
        <p-chart #chartWind type="line" [data]="chartWindData" [options]="ordersOptions"></p-chart>
    </div>
</div>
